# Project-specific
venv
caffe2

sumo/algorithm/compute_bbox.cpp
sumo/algorithm/estimate_layout.cpp
sumo/algorithm/hough.cpp
sumo/algorithm/layout_bbox_xml.cpp
sumo/algorithm/ransac.cpp
sumo/algorithm/union_find.cpp
sumo/base/vector.cpp
sumo/geometry/axis_bounding_box.cpp
sumo/geometry/bounding_box.cpp
sumo/geometry/box_3d.cpp
sumo/geometry/inverse_depth.cpp
sumo/geometry/plane.cpp
sumo/geometry/point_cloud.cpp
sumo/geometry/point_cloud_ply_cy.cpp
sumo/geometry/pose2.cpp
sumo/geometry/pose3.cpp
sumo/geometry/quaternion.cpp
sumo/geometry/ray.cpp
sumo/geometry/rot3.cpp
sumo/gltf/glb_converter.cpp
sumo/gltf/gltf_cy.cpp
sumo/opencv/wrap.cpp
sumo/semantic/box_object.cpp
sumo/semantic/mesh_object.cpp
sumo/semantic/project_object.cpp
sumo/semantic/project_object_dict.cpp
sumo/semantic/project_scene.cpp
sumo/semantic/project_scenev2.cpp
sumo/semantic/scene.cpp
sumo/semantic/scene_furniture.cpp
sumo/semantic/scene_layout.cpp
sumo/semantic/scene_object.cpp
sumo/threedee/mesh_cy.cpp
sumo/threedee/textured_mesh.cpp

# Rope
.ropeproject

# Cython
.c
.cpp

*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info

Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c

Tools/*.elc

TEST_TMP/
build/
wheelhouse*/
!tests/build/
dist/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

tags
TAGS
MANIFEST

.tox
